* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.table-container {
  width: 60%;
}

.profile-container {
  width: 35%;
}

.profile-container {
  display: flex;
  height: 300px;
}

.img-container {
  flex: 3;
}
.details-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
